.banner {
    /* Declarar como um grid */
    display: grid;
    gap: 1rem;
}

.banner img:nth-child(1) {
    grid-column: 1/3;
}

.banner img:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/4;
}

.eventos__item {
    display: grid;
    /* Após definir o grid a primeira coluna do grid ficou menor que a segunda e para inverter isso adicionamos a linha abaixo*/
    grid-template-columns: 1fr auto;

    /* A primeira e ultima linha ficaram com uma altura maior e adicionamos a linha abaixo para ajustar a altura das linhas
    Auto = Ajusta a linha para ficar da altura exata da imagem
    repeat(2, 1fr) - Usamos o repeat e determinamos o 2 para que as duas próximas linhas tenham 1fr de altura
    auto = Ajusta a linha para ficar da altura do botão "Ver"*/
    grid-template-rows: auto repeat(2, 1fr) auto;

    /* Definindo áreas com o grid*/
    grid-template-areas:
        "imagem imagem"
        "nome nome"
        "data data"
        "local botao";
}


/* Associar os elementos a area de grid*/

.eventos__item img {
    grid-area: imagem;
}

.eventos__item h3 {
    grid-area: nome;
    align-self: center;
}

.eventos__item h4 {
    grid-area: data;
}

.eventos__item h5 {
    grid-area: local;
    align-self: end;
}

.eventos__item button {
    grid-area: botao;
}

.agenda__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
}

.agenda__item img {
    grid-column: 1/ 3;
}

@media (min-width: 720px) {

    .banner {
        /* São quatro colunas sendo que a primeira imagem pega a primeira e segunda coluna
        Portanto abaixo definiremos:
        50% (sendo que a primeira imagem vai ocular duas de quatro colunas e - 0.75 para desconsiderar o espaçamento das colunas onde o total de espaçamento é de 1.5 e 0.75 para cada coluna)
        E os dois auto é para estabelecer automaticamente o espaço automático para as outras duas colunas */
        /* Na linha abaixo foi informado os dois auto para exemplificar o valor de cada coluna, porém nesse caso em que os auto são no final não é necessário de especificá-los e o navegador conseguirá interpretar normalmente  */
        /* grid-template-columns: calc(50% - 0.75rem) auto auto; */
        grid-template-columns: calc(50% - 0.75rem);
        column-gap: 1.5rem;
    }

    .banner img:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .banner img:nth-child(4) {
        grid-column: 3/4;
        grid-row: 1/3;
    }
}

@media (min-width: 1440px) {
    .categorias {
        display: grid;
        grid-template-areas:
            "titulo titulo"
            "lista destaque"
            "lista imagem";
        row-gap: 1rem;
        column-gap: 1.5rem;
        grid-template-columns: calc(50% - 0.75rem);
        grid-template-rows: auto 1fr auto;
    }

    .categorias__titulo {
        grid-area: titulo;
    }

    .categorias__lista {
        grid-area: lista;
    }

    .categorias__destaques {
        grid-area: destaque;
    }

    .categorias__imagem {
        grid-area: imagem;
    }
}